In [2]:
import pandas as pd
import numpy as np

# Create the full data table

In [23]:
data_sets = ["data/parsed/2017-10-11.csv.gz",
            "data/parsed/2017-10-12.csv.gz",
            "data/parsed/2017-10-13.csv.gz",
            "data/parsed/2017-10-14.csv.gz",
            "data/parsed/2017-10-15.csv.gz",
            "data/parsed/2017-10-16.csv.gz",
            "data/parsed/2017-10-17.csv.gz",
            "data/parsed/2017-10-18.csv.gz",
            "data/parsed/2017-10-19.csv.gz",
            "data/parsed/2017-10-20.csv.gz",
            "data/parsed/2017-10-21.csv.gz",
            "data/parsed/2017-10-22.csv.gz",
            "data/parsed/2017-10-23.csv.gz"]

full_data = pd.DataFrame()

for file in data_sets:
    partial_data = pd.read_csv(file)
    full_data = pd.concat([full_data, partial_data], axis=0)
    
full_data.shape

In [3]:
weather = pd.read_csv("data/all_weather.csv")
weather.head()

,apparentTemperature,cloudCover,dewPoint,humidity,icon,ozone,precipIntensity,precipProbability,precipType,pressure,summary,temperature,time,uvIndex,visibility,windBearing,windGust,windSpeed
0,5.81,0.63,7.21,0.96,partly-cloudy-night,314.18,0.0076,0.30,rain,993.96,Mostly Cloudy,7.77,1507680000,0,9.72,68,11.99,10.93
1,5.98,0.70,7.19,0.96,partly-cloudy-night,314.63,0.0076,0.27,rain,993.88,Mostly Cloudy,7.78,1507681200,0,9.24,65,10.77,10.06
2,6.16,0.76,7.18,0.96,partly-cloudy-night,315.07,0.0051,0.24,rain,993.80,Mostly Cloudy,7.78,1507682400,0,8.74,62,9.53,9.22
3,6.43,0.82,7.18,0.96,partly-cloudy-night,315.52,0.0076,0.30,rain,993.75,Mostly Cloudy,7.77,1507683600,0,8.69,55,8.30,7.89
4,6.28,0.83,7.13,0.96,partly-cloudy-night,315.98,0.0051,0.27,rain,993.75,Mostly Cloudy,7.72,1507684800,0,8.64,45,7.77,8.29

# (Optional) Cull the data to only observe certain routes
10 should be enough

This could be done at this point, or after the data is fully cleaned up

In [ ]:
#TODO

# Combine weather data

### TODO:

In [30]:
# Finds the index in the weather dataframe that corresponds to the latest weather update
def closest_weather_index(timestamp):
    for i in range(weather.time.size - 1):
        if weather.time[i + 1] > timestamp:
            return i
    return 0

# An example could be useful
time_now = 1507708801
index = closest_weather_index(time_now)
weather.iloc[index]

apparentTemperature                 4.57
cloudCover                          0.69
dewPoint                            6.45
humidity                            0.96
icon                   partly-cloudy-day
ozone                             327.59
precipIntensity                        0
precipProbability                      0
precipType                           NaN
pressure                          996.06
summary                    Mostly Cloudy
temperature                         7.12
time                          1507708800
uvIndex                                1
visibility                         12.02
windBearing                          345
windGust                            16.5
windSpeed                          13.68
Name: 24, dtype: object

In [34]:
# TODO

# Remove unnecessary columns

In [ ]:
# TODO

# Handle missing values

In [36]:
# TODO

# Add a "Late" column
Give it a value of 1 if late, 0 if on time

The bus's GPS data will have to be cross-referenced with scheduled stop times and stop coordinates

http://dev.hsl.fi/

In [38]:
# TODO

# Data Science
- Graphs
- Regression
- etc

In [ ]:
# TODO

In [40]:
full_data.head()

,desi,dir,dl,hdg,jrn,lat,line,long,oday,odo,oper,source,spd,start,stop_index,timestamp,tsi,tst,veh
0,560,1.0,120,340.0,XXX,60.250462,XXX,25.009306,NaN,16174.0,XXX,NaN,0.09,23:05,NaN,1507754221,1507754213,2017-10-11T20:36:53.000Z,0012_01517
1,23,2.0,-33,267.0,XXX,60.202652,XXX,24.903437,NaN,265.0,XXX,NaN,10.03,23:36,NaN,1507754221,1507754213,2017-10-11T20:36:53.000Z,0012_01612
2,23,2.0,39,NaN,XXX,60.202940,XXX,24.907900,2017-10-11,NaN,XXX,hsl roisto,0.00,2336,NaN,1507754221,1507754199,2017-10-11T20:36:39.000Z,02f42add
3,571,1.0,50,NaN,XXX,60.290020,XXX,25.006930,2017-10-11,NaN,XXX,hsl roisto,0.00,2326,NaN,1507754221,1507754210,2017-10-11T20:36:50.000Z,037bee32
4,55,2.0,92,NaN,XXX,60.192116,XXX,24.978412,2017-10-11,NaN,XXX,hsl roisto,0.00,2324,NaN,1507754221,1507754132,2017-10-11T20:35:32.000Z,046524ec