In [1]:
import pandas as pd
import numpy as np
import datetime

# Create the full data table

In [2]:
data_sets = ["data/parsed/2017-10-11.csv.gz",
            "data/parsed/2017-10-12.csv.gz",
            "data/parsed/2017-10-13.csv.gz",
            "data/parsed/2017-10-14.csv.gz",
            "data/parsed/2017-10-15.csv.gz",
            "data/parsed/2017-10-16.csv.gz",
            "data/parsed/2017-10-17.csv.gz",
            "data/parsed/2017-10-18.csv.gz",
            "data/parsed/2017-10-19.csv.gz",
            "data/parsed/2017-10-20.csv.gz",
            "data/parsed/2017-10-21.csv.gz",
            "data/parsed/2017-10-22.csv.gz",
            "data/parsed/2017-10-23.csv.gz"]

full_data = pd.DataFrame()

for file in data_sets:
    partial_data = pd.read_csv(file)
    full_data = pd.concat([full_data, partial_data], axis=0)
    
full_data.shape

(11440778, 19)

# Remove unnecessary columns

In [3]:
#drop the obviously useless columns
full_data = full_data.drop(['dir'], axis=1)
full_data = full_data.drop(['tst'], axis=1)
full_data = full_data.drop(['hdg'], axis=1)
full_data = full_data.drop(['odo'], axis=1)
full_data = full_data.drop(['oday'], axis=1)
full_data = full_data.drop(['stop_index'], axis=1)
full_data = full_data.drop(['source'], axis=1)
full_data = full_data.drop(['jrn'], axis=1)
full_data = full_data.drop(['line'], axis=1)
full_data = full_data.drop(['oper'], axis=1)
full_data = full_data.drop(['start'], axis=1)
full_data = full_data.drop(['timestamp'], axis=1)

In [4]:
# Give columns more meaningful labels
full_data.rename(columns = {'desi':'line'}, inplace = True)
full_data.rename(columns = {'dl':'delay'}, inplace = True)
full_data.rename(columns = {'spd':'speed'}, inplace = True)
full_data.rename(columns = {'tsi':'time'}, inplace = True)
full_data.rename(columns = {'veh':'vehicle'}, inplace = True)
full_data.rename(columns = {'lat':'latitude'}, inplace = True)
full_data.rename(columns = {'long':'longitude'}, inplace = True)

In [5]:
full_data.head()

  line delay   latitude  longitude  speed        time     vehicle
0  560   120  60.250462  25.009306   0.09  1507754213  0012_01517
1   23   -33  60.202652  24.903437  10.03  1507754213  0012_01612
2   23    39  60.202940  24.907900   0.00  1507754199    02f42add
3  571    50  60.290020  25.006930   0.00  1507754210    037bee32
4   55    92  60.192116  24.978412   0.00  1507754132    046524ec

# Remove missing data

In [6]:
full_data = full_data[full_data.speed.notnull()]

# Weather data

In [7]:
weather = pd.read_csv("data/all_weather.csv")

weather = weather.drop(['icon'], axis=1)
weather = weather.drop(['summary'], axis=1)

weather['precipType'].fillna('none', inplace=True)
weather['precipType'] = weather['precipType'].astype('category')

weather.head()

,apparentTemperature,cloudCover,dewPoint,humidity,ozone,precipIntensity,precipProbability,precipType,pressure,temperature,time,uvIndex,visibility,windBearing,windGust,windSpeed
0,5.81,0.63,7.21,0.96,314.18,0.0076,0.30,rain,993.96,7.77,1507680000,0,9.72,68,11.99,10.93
1,5.98,0.70,7.19,0.96,314.63,0.0076,0.27,rain,993.88,7.78,1507681200,0,9.24,65,10.77,10.06
2,6.16,0.76,7.18,0.96,315.07,0.0051,0.24,rain,993.80,7.78,1507682400,0,8.74,62,9.53,9.22
3,6.43,0.82,7.18,0.96,315.52,0.0076,0.30,rain,993.75,7.77,1507683600,0,8.69,55,8.30,7.89
4,6.28,0.83,7.13,0.96,315.98,0.0051,0.27,rain,993.75,7.72,1507684800,0,8.64,45,7.77,8.29

# Combine weather data

In [8]:
full_data = full_data.sort_values('time')

full_data = pd.merge_asof(full_data, weather, on='time')

In [9]:
# Remove rows with no weather data
full_data = full_data[full_data.apparentTemperature.notnull()]
full_data.head()

,line,delay,latitude,longitude,speed,time,vehicle,apparentTemperature,cloudCover,dewPoint,...,precipIntensity,precipProbability,precipType,pressure,temperature,uvIndex,visibility,windBearing,windGust,windSpeed
6,615,25,60.31797,24.96730,0.0,1507680025,4d63ce12,5.81,0.63,7.21,...,0.0076,0.3,rain,993.96,7.77,0.0,9.72,68.0,11.99,10.93
7,235N,160,60.20462,24.67328,0.0,1507680040,76d53e3e,5.81,0.63,7.21,...,0.0076,0.3,rain,993.96,7.77,0.0,9.72,68.0,11.99,10.93
8,615,525,60.21282,24.94351,0.0,1507680045,0ebf9e12,5.81,0.63,7.21,...,0.0076,0.3,rain,993.96,7.77,0.0,9.72,68.0,11.99,10.93
9,235N,165,60.20332,24.68024,0.0,1507680105,76d53e3e,5.81,0.63,7.21,...,0.0076,0.3,rain,993.96,7.77,0.0,9.72,68.0,11.99,10.93
10,615,535,60.22117,24.94574,0.0,1507680115,0ebf9e12,5.81,0.63,7.21,...,0.0076,0.3,rain,993.96,7.77,0.0,9.72,68.0,11.99,10.93

# Cull the data to only observe certain routes

In [10]:
unique_lines = pd.unique(full_data.line.ravel())

In [11]:
full_data.line.unique()

array(['615', '235N', '562N', '150', '147', '150K', '150A', '147N', '64',
       '59', '43', '50', '561', '231N', '617', 'P', 'L', '415N', '550',
       '560', '631', '717', '633N', '739', '39N', '571', '736', '90N',
       '147KT', '735', 'Z', '94N', '235', '614', '69', '51', 'I', '554',
       '611', '731N', '97V', '574', '75', '717A', '311', '411', '213N',
       '543', '52', '71', 'N', '506', '154', '431N', '227', '65', '37',
       '96', '94', '553K', '57', '92', '56', '67', '173', '724', '58',
       '415', '110T', '332', '79', '74N', '121T', '624', '738K', '84',
       '42', '436', '975', '711', '61', '224', '576', '239', '54', '345N',
       '502', '94A', '218', '321', '572K', '85B', '421', '70', '616',
       '335B', '95', '436K', '623', '66K', '14', '82B', '587', '565',
       '246', '731', '238KT', '722', '78', '106', '533', '39', '165N',
       '23', '77', '553', '4', '8', '86', '81', '98', '63', '551', '431',
       'Y', '73', '510', '92N', '109', '236', '412', '21BX', '552', '975K',
       '90A', '10', '633', '575', '19', '80', '55', '322', '621', '46',
       '93K', '443', '7', '973', 'E', '3', '238', '72', '6', '38', '90',
       '160KT', '206', '82', '122', '20X', '41', '582KB', '245', '18',
       '738', '195', '566', '518', '16', '66', 'K', '203', '88', '633A',
       '619', '173Z', '345', '40', '107', '212', '582', '9 3', '94B',
       '156', '433K', '5', '335', '712', '143AT', '1', '9', '2', '215',
       '11', 'A', '562', 'U', '165', '24', '31', '15', '433', '217', '243',
       '12', '238K', '202', '105', '214', '111', '158', '102T', '74',
       '238T', '236V', '121', '625', '21V', '93', '435', '122A', '818',
       '582K', '622', '718', '227V', '907', '213', '611B', '109T', '83',
       '572', '89', '239T', '85', '226', '349B', '147T', '110', '445',
       '61T', '97', '67V', '434', '582B', '194', '813', '58B', '165V',
       '194A', '71B', '65K', '739V', '39B', '201B', '102', '112', '111T',
       '166B', '911', '103T', '79B', '143K', '219', '10K', '978', '174Z',
       '121K', '143', '241', '215A', '736A', '817', '737K', '908', '975B',
       '443K', '106K', '172', '160', '246KT', '311A', '241V', '20', '245A',
       '816', '160K', '242', '103', '909', '171', '206A', '17', '36',
       '588', '573', '16B', '737', '623B', '903K', '349', '246T', '805',
       '348', '815', '245KA', '978L', '565B', '33', '201', '812', '32',
       '811B', '588B', 'X', '802', '348V', '143A', '229', '207', '819',
       '801', '245K', '906', '4H', '145', '711K', '148', 'Ferry', '154T',
       '10H', '811', '160T', '618', '116', '119', '132', '723', '168',
       '149', '145K', '814', '973L', '117', '169', '238KB', '232', '236K',
       '901', '246K', '16A', '6T', '901K', '238B', '811K', '145N', '349BK',
       '203N', '7H', '1H', '9H', '3H', '8H', '2H', '6H', '12B', '14B',
       '143T', '214T', '132NT', '203V', '132N', '78N', '717AK', '18N',
       '436N', '724N', '61N', '121NK', '85N', '96N', '717N', '77N', '97N',
       '195N', '79N', '20N', '109N', '86N', '321N', '95N', '154N', '624N',
       'T', '67N', '73N', '444', '444T', '909K', '138', '137', '6H3',
       '121N', '8 3', '181', '903', '182', '147K', '23N', '150N', '227N',
       '510B', 'R', '21', '226A', '30', '8H4', '121NT', '6 3', '26', 'D',
       '8 4', '7H6', '6 4', 'G', '702', '446', '3001', '9H3', '447', '841',
       '994K', '994', '788', '788B'], dtype=object)

In [24]:
observed_lines = ['550', '731', '55', '83', '94N', '172', '421', '67V', '46', '90', '58']

culled_data = full_data.loc[full_data['line'].isin(observed_lines)]
#culled_data = full_data

In [25]:
culled_data.shape

(575176, 22)

In [26]:
culled_data.head()

,line,delay,latitude,longitude,speed,time,vehicle,apparentTemperature,cloudCover,dewPoint,...,precipIntensity,precipProbability,precipType,pressure,temperature,uvIndex,visibility,windBearing,windGust,windSpeed
677,550,50,60.16880,24.80383,0.0,1507685150,25cb9fcf,6.28,0.83,7.13,...,0.0051,0.27,rain,993.75,7.72,0.0,8.64,45.0,7.77,8.29
678,550,50,60.16880,24.80383,0.0,1507685150,25cb9fcf,6.28,0.83,7.13,...,0.0051,0.27,rain,993.75,7.72,0.0,8.64,45.0,7.77,8.29
684,550,80,60.20982,25.07738,0.0,1507685180,55a3d4a3,6.28,0.83,7.13,...,0.0051,0.27,rain,993.75,7.72,0.0,8.64,45.0,7.77,8.29
685,550,80,60.20982,25.07738,0.0,1507685180,55a3d4a3,6.28,0.83,7.13,...,0.0051,0.27,rain,993.75,7.72,0.0,8.64,45.0,7.77,8.29
695,550,67,60.17083,24.81079,0.0,1507685227,25cb9fcf,6.28,0.83,7.13,...,0.0051,0.27,rain,993.75,7.72,0.0,8.64,45.0,7.77,8.29

# Late column

In [27]:
#0 = early/on time, 1 = late
late = []

for i,r in culled_data.iterrows():
    if np.float(r.delay) < 60:
        late.append(0)
    else:
        late.append(1)
        
culled_data['late'] = late

/home/smw/.local/lib/python3.5/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

# Day of week and hour

In [28]:
days = []
hours = []

for i,r in culled_data.iterrows():
    # Monday is 0, Sunday is 6
    day_of_week = datetime.date.fromtimestamp(r.time).weekday()
    days.append(day_of_week)
    
    # 0-24
    hour_of_day = datetime.datetime.fromtimestamp(r.time).strftime('%H')
    hours.append(int(hour_of_day))

culled_data['dayOfWeek'] = days
culled_data['hourOfDay'] = hours

/home/smw/.local/lib/python3.5/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/smw/.local/lib/python3.5/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [29]:
#remove extremes
for i,r in culled_data.iterrows():
    delay = np.float(r.delay)
    if (delay > 1800) or (delay < -900):
        culled_data = culled_data.drop(i)

# Fix missing data

In [30]:
culled_data['line'] = culled_data['line'].astype('category').cat.codes
culled_data['vehicle'] = culled_data['vehicle'].astype('category').cat.codes
culled_data['precipType'] = culled_data['precipType'].astype('category').cat.codes

In [31]:
culled_data['latitude'].fillna(culled_data['latitude'].mean(), inplace=True)
culled_data['longitude'].fillna(culled_data['longitude'].mean(), inplace=True)
culled_data['visibility'].fillna(culled_data['visibility'].mean(), inplace=True)

# Export the final dataset

In [32]:
culled_data.head()

,line,delay,latitude,longitude,speed,time,vehicle,apparentTemperature,cloudCover,dewPoint,...,pressure,temperature,uvIndex,visibility,windBearing,windGust,windSpeed,late,dayOfWeek,hourOfDay
677,4,50,60.16880,24.80383,0.0,1507685150,2076,6.28,0.83,7.13,...,993.75,7.72,0.0,8.64,45.0,7.77,8.29,0,2,4
678,4,50,60.16880,24.80383,0.0,1507685150,2076,6.28,0.83,7.13,...,993.75,7.72,0.0,8.64,45.0,7.77,8.29,0,2,4
684,4,80,60.20982,25.07738,0.0,1507685180,4712,6.28,0.83,7.13,...,993.75,7.72,0.0,8.64,45.0,7.77,8.29,1,2,4
685,4,80,60.20982,25.07738,0.0,1507685180,4712,6.28,0.83,7.13,...,993.75,7.72,0.0,8.64,45.0,7.77,8.29,1,2,4
695,4,67,60.17083,24.81079,0.0,1507685227,2076,6.28,0.83,7.13,...,993.75,7.72,0.0,8.64,45.0,7.77,8.29,1,2,4

In [34]:
culled_data.to_csv('culled_data.csv.gz', index=False, compression='gzip')